.frame {
  background-color: #f2f2f2;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.frame .overlap {
  height: 275px;
  left: 376px;
  position: absolute;
  top: 25px;
  width: 838px;
}

.frame .text-wrapper {
  -webkit-text-stroke: 1px #000000;
  color: #4e4b9a;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-size: 96px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 190px;
  white-space: nowrap;
  width: 682px;
}

.frame .star {
  height: 65px;
  left: 508px;
  position: absolute;
  top: 196px;
  width: 53px;
}

.frame .img {
  height: 161px;
  left: 728px;
  position: absolute;
  top: 101px;
  width: 110px;
}

.frame .star-2 {
  height: 275px;
  left: 617px;
  position: absolute;
  top: 0;
  width: 204px;
}

.frame .overlap-group {
  height: 317px;
  left: 62px;
  position: absolute;
  top: 338px;
  width: 1059px;
}

.frame .movies {
  color: transparent;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 252px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 807px;
}

.frame .span {
  color: #c6719b;
}

.frame .text-wrapper-2 {
  color: #0e233e;
}

.frame .text-wrapper-3 {
  color: #255ba6;
}

.frame .enter-a-movie-and-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 24px;
  height: 35px;
  left: 386px;
  overflow: hidden;
  position: absolute;
  top: 63px;
  width: 501px;
}

.frame .enter-a-movie-and {
  color: #7a8ba3;
  font-family: "SF Pro-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.frame .image-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 24px;
  height: 35px;
  left: 901px;
  overflow: hidden;
  position: absolute;
  top: 63px;
  width: 57px;
}

.frame .image {
  height: 18px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 18px;
}

.frame .star-3 {
  height: 242px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 287px;
}

.frame .star-4 {
  height: 144px;
  left: 37px;
  position: absolute;
  top: 143px;
  width: 87px;
}